<!-- This page is for customer Registration form  -->
<div class="container">
  <md-content layout-padding>
    <div class="form-step-main reg_form">
      <div class="row">
        <div class="form_container step1 ">
          <form name="userForm">
            <!-- Form Start -->
            <h2>Basic Information</h2>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label></label>
                <input name="name" ng-model="index.customerData. customer_name" required placeholder="Full Name">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <md-input-container class="md-block" flex-gt-sm>
                  <label></label>
                  <md-select ng-model="index.customerData.customer_type" placeholder="Types">
                    <md-option ng-repeat="value in index.customerType" value="{{value.abbrev}}">
                      {{value.abbrev}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </md-input-container>
            </div>
            <h2>Registration Numbers</h2>
            <div layout-gt-sm="row">
              <div ng-if="index.pan_Details">
                <md-input-container class="md-block" flex-gt-sm>
                  <label></label>
                  <input ng-model="index.customerData.pan_number" placeholder="Pan Number">
                </md-input-container>
              </div>
              <div ng-if="index.tin_Details">
                <md-input-container class="md-block" flex-gt-sm>
                  <label></label>
                  <input ng-model="index.customerData.tin_number" placeholder="Tin Number">
                </md-input-container>
                <!--              </div>-->
              </div>
              <!--            <div layout-gt-sm="row" ng-if="index.service_tax_Details">-->
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label></label>
                  <md-select ng-model="index.customerData.service_tax_liability" placeholder="Type">
                    <md-option ng-repeat="value in index.serviceTaxType" value="{{value.abbrev}}">
                      {{value.abbrev}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <!-- Service Tax -->
                <md-input-container class="md-block" flex-gt-sm>
                  <label></label>
                  <input ng-model="index.customerData.service_tax_number" placeholder="service Tax Number">
                </md-input-container>
              </div>
            </div>
            <div ng-if="index.excise_Details">
              <h3> Ecc details</h3>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label></label>
                  <input ng-model="index.customerData.ecc_number" placeholder="Ecc Number">
                </md-input-container>


                <md-input-container class="md-block" flex-gt-sm>
                  <label></label>
                  <input placeholder="Excise Commissionerate Code " ng-model="index.customerData.excise_commissionerate_code">
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label></label>
                  <input placeholder="Excise Range Code" ng-model="index.customerData.excise_range_code">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Excise Division code</label>
                  <input ng-model="index.customerData.excise_division_code">
                </md-input-container>
              </div>
            </div>
            <h2> Address Information" </h2>
            <div layout-gt-sm="row">
              <!-- Address -->
              <md-input-container class="md-block" flex-gt-sm>
                <label></label>
                <input placeholder="Address Title" ng-model="index.customerAddressData.address_title" required>
              </md-input-container>

              <!-- Billing Address -->
              <md-input-container class="md-block" flex-gt-sm>
                <md-input-container class="md-block" flex-gt-sm>
                  <label> </label>
                  <md-select ng-model="index.customerAddressData.address_type" required placeholder="Billing">
                    <md-option ng-repeat="value in index.address_type" value="{{value.abbrev}}">
                      {{value.abbrev}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </md-input-container>
            </div>
            <!-- Address line 1 and line 2 -->
            <md-input-container class="md-block">
              <label></label>
              <input ng-model="index.customerAddressData.address_line1" placeholder="Address">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
              <input ng-model="index.customerAddressData.address_line2" placeholder="Address Line 2">
            </md-input-container>
            <!-- City State and Pincode -->
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label></label>
                <input ng-model="index.customerAddressData.city" placeholder="City">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label></label>
                <md-select ng-model="index.customerAddressData.state" paceholder="State">
                  <md-option ng-repeat="state in index.states" value="{{state.abbrev}}">
                    {{state.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label></label>
                <input name="postalCode" ng-model="index.customerAddressData.pincode" placeholder="Postal Code">
                <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                  <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.
                  </div>
                </div>
              </md-input-container>
            </div>

            <md-input-container class="md-block" flex-gt-sm>
              <label></label>
              <md-select ng-model="index.customerAddressData.country" required>
                <md-option ng-repeat="state in index.country" value="{{state.abbrev}}">
                  {{state.abbrev}}
                </md-option>
              </md-select>
            </md-input-container>

            <!-- Email Fax and phone -->
            <div layout-gt-sm="row" class="mrgtop_10">
              <md-input-container class="md-block" flex-gt-sm>
                <label></label>
                <input name="Email" ng-model="index.customerAddressData.email_id" placeholder="Email: xyz@gmail.com" ng-pattern="/^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/">
                <div ng-messages="userForm.Email.$error" role="alert">
                  <div ng-message="pattern" class="my-message">That doesn't look like a valid Email Address.
                  </div>
                </div>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label></label>
                <input name="Phone" ng-model="index.customerAddressData.phone" placeholder="Phone Number: 09359359355">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label></label>
                <input name="fax" ng-model="index.customerAddressData.pincode" placeholder="Fax" ng-pattern="/0*/">
              </md-input-container>
            </div>
            <md-checkbox ng-model="index.customerAddressData.is_primary_address" aria-label="1">
              Preferred Billing Address
            </md-checkbox>
            <md-checkbox ng-model="index.customerAddressData.is_shipping_address" aria-label="2">
              Preferred Shipping Address
            </md-checkbox>

            <h2>Contact Information</h2>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label></label>
                <input placeholder="First Name*" name="name" ng-model="index.customerContact.first_name">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label></label>
                <input name="name" ng-model="index.customerContact.last_name" placeholder="Last Name">
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label></label>
                <input name="name" ng-model="index.customerContact.phone" placeholder="Phone">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label></label>
                <input name="Email" ng-model="index.customerContact.email_id" placeholder="Email:xyz@gmail.com" ng-pattern="/^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/">
                <div ng-messages="userForm.Email.$error" role="alert">
                  <div ng-message="pattern" class="my-message">That doesn't look like a valid Email Address.
                  </div>
                </div>
              </md-input-container>
            </div>
            <md-checkbox ng-model="index.customerContact.sms_optin" aria-label="2">
              Get a SMS
            </md-checkbox>
          </form>
        </div>
      </div>
    </div>
  </md-content>
</div>

<div class="page_box" style="width:100%">
  <md-input-container>
    <button class="left btn-outline-in" ng-disabled="$isFirst()" ng-click="$previousStep();"><i class="fa fa-angle-left"></i> Previous </button>
    <button class="right btn-outline-in" ng-disabled="$isLast()" ng-click="$nextStep();index.contactDetails();"> Next <i class="fa fa-angle-right"></i> </button>
  </md-input-container>
</div>
